// Color Pointers
@background-h-g-l: #586F7C;
@background-a-s-c: #1F2041;
@hoverColor: #FFC857;
@mainColor: #FFFFFF;
@textHeader: #19647E;
@seeThru: #C4C4C4;

// Font Family & Styles
@mainFamily: 'Open Sans', sans-serif;
@mainStyle: italic;
@mainWeight: bold;
@secFamily: 'Domine', serif;
@secStyle: normal;

// Font Size
@titleSize-h: 5.00em;
@navSize: 1.50em;
@pHeader: 2.25em;
@pText: 1.13em;